* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	color: hsl(24, 5%, 18%);
	background-color: hsl(30, 54%, 90%);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Outfit", sans-serif;
	font-size: 13px;
	font-weight: 500;
	width: 100%;
}

section {
	background-color: hsl(0, 0%, 100%);
	border-radius: 30px;
	width: 565px;
	padding: 27px;
}

.hero {
	border-radius: 20px;
	width: 100%;
}

.container {
	margin: 29px 0;
}

h1 {
	font-family: "Young Serif", serif;
	padding-bottom: 13px;
}

h2 {
	color: hsl(332, 51%, 32%);
	font-size: 13px;
}

h3 {
	color: hsl(14, 45%, 36%);
	font-family: "Young Serif", serif;
}

.Preparation {
	background-color: hsl(330, 100%, 98%);
	border-radius: 10px;
	padding: 17px 19px;
	line-height: 27px;
	margin-bottom: 20px;
}

.lista-1 {
	padding-left: 23px;
}

.parrafos {
	padding-left: 10px;
}

span {
	font-weight: 700;
	padding-left: 5px;
}

.Ingredients {
	
	margin: 12px 0 25px 0;
	border-bottom: 1px solid red;
}
